{% extends "bootstrap/base.html" %}
{% block title %}NeoFlask{% endblock %}

{% block navbar %}
<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('bp.index') }}">NeoFlask</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ url_for('bp.index') }}">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Portlets <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('bp.compliance') }}">Compliance</a></li>
            <li><a href="{{ url_for('bp.funnel') }}">Funnel</a></li>
            <li><a href="{{ url_for('bp.gap_analysis') }}">Gap Analysis</a></li>
            <li><a href="{{ url_for('bp.kpi') }}">KPI's</a></li>
            <li><a href="{{ url_for('bp.client_metric') }}">Client Metrics</a></li>
            <li><a href="{{ url_for('bp.impact_analysis') }}">Impact Analysis</a></li>
            <li><a href="{{ url_for('bp.provenance') }}">Provenance</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Log in <span class="sr-only"></span></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</div>
{% endblock %}

{% block content %}
{% endblock %}
